<br>
<div class="col-md-4" *ngFor="let vista of vista">
  <br><br>
<div class="card text-center">
  <div class="card-header bg-dark text-white text-center d-flex justify-content-between align-items-center">
    {{vista.empresa}}
  </div>
  <img [src]='vista.image' class="card-img-top">
  <div class="card-body">
    <p>Direccion: {{vista.direccion}} </p>
    <p>Telefono: {{vista.telefono}} </p>
    <a href="" class="btn btn-info btn-block">
      MAS INFORMACION
    </a>
  </div>
</div>
</div>
<br>
