<br>
<div class="text-center py-3"><h1> Agregar Proveedor</h1> </div>

<div class="row">

  <div class="col-md-7 ofsset-md-6">
    <div class="card">
      <div class="card-body">
  <form>
    <div class="form-group">
      <div class="input-group">
         <div class="input-group-prepend" style="width: 60%">
           <div class="input-group-text bg-white">
            <i class="fa fa-user"></i>
           </div>
         <input name="nombre" type="text" class="form-control" placeholder="Nombre" [(ngModel)]="vista.nombre" autofocus>
        </div>
    </div>
</div>

    <div class="form-group">
      <div class="input-group">
         <div class="input-group-prepend" style="width: 60%">
           <div class="input-group-text bg-white">
            <i class="fa fa-user"></i>
           </div>
         <input name="apellido" type="text" class="form-control" [(ngModel)]="vista.apellido" placeholder="Apellido">
       </div>
    </div>
  </div>

<div class="form-group">
  <div class="input-group">
     <div class="input-group-prepend" style="width: 60%">
       <div class="input-group-text bg-white">
        <i class="fa fa-envelope"></i>
       </div>
     <input name="email" type="text" class="form-control" [(ngModel)]="vista.email" placeholder="Email">
   </div>
</div>
</div>


<div class="form-group">
  <div class="input-group">
     <div class="input-group-prepend" style="width: 60%">
       <div class="input-group-text bg-white">
        <i class="fa fa-phone"></i>
       </div>
     <input name="telefono"  type="text" class="form-control" [(ngModel)]="vista.telefono" placeholder="Telefono">
   </div>
</div>
</div>


<div class="form-group">
  <div class="input-group">
     <div class="input-group-prepend" style="width: 60%">
       <div class="input-group-text bg-white">
        <i class="fa fa-building"></i>
       </div>
     <input name="empresa" type="text" class="form-control" [(ngModel)]="vista.empresa" placeholder="Empresa">
   </div>
</div>
</div>


<div class="form-group">
  <div class="input-group">
     <div class="input-group-prepend"  style="width: 90%">
       <div class="input-group-text bg-white">
        <i class="fa fa-edit"></i>
       </div>
     <input name="direccion" type="text" class="form-control" [(ngModel)]="vista.direccion" placeholder="Direccion">
   </div>
</div>
</div>

<div class="form-group">
  <div class="input-group">
     <div class="input-group-prepend" style="width: 90%">
       <div class="input-group-text bg-white">
        <i class="fa fa-image"></i>
       </div>
     <input name="image" type="text" class="form-control" [(ngModel)]="vista.image" placeholder="url de imagen">
   </div>
</div>
</div>

<div class="form-group">
  <div class="input-group">
     <div class="input-group-prepend">
       <div class="input-group-text bg-white">
        <i class="fa fa-toggle-on"></i>
       </div>
     <input name="estado" type="number" class="form-control" [(ngModel)]="estado" placeholder="Estado">
   </div>
</div>
</div>
</form>
<mat-card-actions>
  <button mat-raised-button color="warn" mattooltip="df" type="button" (click)="cancel()" style="margin-right: 10px;">
      <i class='fa fa-times fa-fw'></i> Cancel
  </button>

  <button mat-raised-button color="accent" class="marginButton" type="submit" (click)="create()">
      <i class='fa fa-save fa-fw'></i> Save
  </button>
</mat-card-actions>
<br>
<br>
</div>
</div>
  </div>

<div  class="col-md-4">
  <div class="card">
        <div class="card-body">
  <div class="text-center"></div> <h4>Previsualizacion</h4>
    <div class="card card-body text-center">
      <h3>{{vista.empresa}}</h3>
      <img [src]="vista.image" class="card-img-top">
    </div>
  </div>



